
body {
    font-family: sans-serif;
    background-color: #25535e;
    width: 100%;
    height: 100%;
    animation: 5s linear 1s infinite alternate bgchange;
}

@keyframes bgchange {
    from {
        background-color: #25535e;
    }
    to {
        background-color: #18414b;
    }
    
}

p {
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.container-fluid {
    position: absolute !important;
}

.center-div {
    margin-top: 20rem !important;
    width:70%;
    margin: 0 auto;
    text-align: center;

}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}


.header-container h2{
    color: #fff;
    font-size: 4.2vw;
    font-family: monospace;
}
.header-container img{
    width: 8vw;
    height: 8vw;
}


.alert {
    position: absolute !important;
    top: 0;

    width: 100%;    
}


.center-div > * {
    margin-bottom: 2rem !important; 
}

.form-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-line > *{
    width: 100%;
    margin-top:1.4rem;
}

form {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

form> input{
    width:70%;
    font-size: 1.7rem;

    padding-left:0.7rem;
    color: #25535e;
    box-shadow: none;
    border: none;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;

}


form > input:focus {
    outline:none;
}


form> button {
    width: 14%;
    font-size: 1.3rem;
    font-weight: 600;
    color: #337180;

    background-color: #fff;

    border:none;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;

}

form> button:hover {
    animation: fillIn 1.2s forwards;

}

@keyframes fillIn {
    from {
        transform: translateX(0);
        background-color: rgb(255, 255, 255);
        color:rgb(255, 112, 10)
      }
    
      to {
        transform: translateX(5%);
        background-color: rgb(236, 89, 9);
        color: rgb(255, 225, 225);
      }
}



@media screen and (max-width: 1120px) {


    form > input {
        font-size: 1.2rem;
    }
    
    form > button {
        width: 25%;
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
    }
    
}


@media screen and (max-width: 790px) {

    .header-container h2 {
        padding-top: 10px;
    }

    form > input {
        font-size: 1rem;
    }
    
    form > button {
        width:35%;
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }
    
}
