{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}  ">
{% endblock %}

{% block content %}
{% if messages %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid h-100">
    <div class="center-div">
        <div class="header-container">
            <img src="{% static 'images/music-logo.svg' %}" width="370px" height="14%" alt="logo">
            <h2>YConv</h2>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit">Download</button>
        </form>
        <p>YConv is a free open source recommended to use an efficient tool to download your favorite song. Plugins and
            extensions should not be used by users, instead it is always better to extract and download the converted
            audio online from the website. Youtube to mp3 online is one of the best converters not limited to this kind
            of thing. This platform has no stagnation, low quality and any security issues.</p>
    </div>
</div>
{% endblock %}